.heading {
    height: 200px;
    width: 100%;
    background-image: url("https://e0.pxfuel.com/wallpapers/656/787/desktop-wallpaper-dark-tree-sunset-landscape-art-dual-wide-wide-21-9-widescreen-background-18412-2560x1024.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}